<h1>Editing service</h1>
<%= render "form", service: @service, url: admin_business_service_path(@business, @service) %>
<br>
<div>
  <%= link_to "View details", admin_business_service_path(@business, @service) %> |
  <%= link_to "Back to services", admin_business_services_path(@business) %>
</div>
